body {
    background-color: #e4eaeb;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
    width: 210mm;
    height: 297mm;
    border: 1 px solid black;
}

section {
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    background-color: #2c3e50; /* Darker blue for the header */
    color: #fff;
    padding: 20px;
}

h1 {
    color: #3498db; /* Lighter blue for main headings */
}

header h1 {
    color: lightblue;
}

header img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 0;
}

h2 {
    color: #2c3e50;
}

h3 {
    color: #1abc9c;
}

p, li {
    color: #555;
    margin: 0;
}

header p {
    color: #e4eaeb;
}

ul {
    padding: 0;
    padding-left: 20px;
    margin: 0;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #2c3e50; /* Darker blue for the footer */
    color: #fff;
}

.flex { 
    display: flex;
}

.w-left {
    width: 25%;
    background-color: #34495e; /* Darker grayish-blue for the left side */
    color: #fff;
    padding: 20px;
}

.w-left p, .w-left li {
    color: #e4eaeb;
}

.w-left h2 {
    color: lightblue;
}

.w-right {
    width: 75%;
}

.center-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Additional styling for links if needed */
a {
    color: #3498db;
}

a:hover {
    color: #1abc9c;
}
